.header {
    width: 90%;
    margin: 0 auto;
}
body {
    background: linear-gradient(to right, #2980B9, #8E44AD);
}

@media screen and (max-width: 1280px) {
    .header {
        width: 85%;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: 95%;
    }
}

@media screen and (max-width: 480px) {
    .header {
        width: 100%;
    }
}